.gpt3__header {
    display: flex;
}

.gpt3__header--content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;
}

.gpt3__header--content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    line-height: 76px;
    font-size: 62px;
    letter-spacing: -o.04em;
}

/* the specific line-height and font-size dimensions are from the figma file */

.gpt3__header--content p {
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 27px;
    color: #81AFDD;   /* the color is also save as a variable var(--color-text) */

    margin-top: 1.5rem;
}

.gpt3__header--content-input {
    width: 100%;
    margin: 2rem 0 1rem;

    display: flex;
}

.gpt3__header--content-input input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    background: var(--color-footer);
    line-height: 27px;
    font-size: 20px;
    padding: 0 1rem;
    border: 2px solid var(--color-footer);
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #fff;

}

.get-started__button {
    font-family: var(--font-family);
    color: #fff;
    background: orangered;
    border-radius: 5px 0 0 5px;
    padding: 1rem;
    border: 2px solid var(--color-footer);
    font-size: 20px;
    line-height: 27px;

    cursor: pointer;
    outline: none;
}

.gpt3__header--content-users {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-top: 2rem;
}

.gpt3__header--content-users p {
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 500;
    line-height: 38px;
    margin-left: 1rem;
    color: #fff;
    text-align: center;
    margin: 0 0 0 1rem;
}

.gpt3__header--content-users img {
    width: 181px;
    height: 38px;
}

/* the precise width and height dimensions are from the figma design  */

.gpt3__header--icon {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gpt3__header--icon img { 
    width: 100%;
    height: 100%;
}


/* Break points for larger screens */

@media  screen and (max-width: 1050px) {
   .gpt3__header { 
    flex-direction: column;
   } 

   .gpt3__header--content { 
    margin-bottom: 3rem;
   }
}

/* Breakpoints for medium screens */

@media  screen and (max-width: 650px) {
    .gpt3__header h1 { 
        font-size: 40px;
        font-weight: 500;
        line-height: 60px;
    }

    .gpt3__header p { 
        font-size: 13px;
        line-height: 24px;
    }

    .gpt3__header--content-users { 
        flex-direction: column;
        align-items: center;
    }

    .gpt3__header--content-users p {
        margin: 0;
    }

    .gpt3__header--content-input input,
    .gpt3__header--content-input button { 
        font-size: 16px;
        line-height: 24px;
    } 
    
}

/* Breakpoints for small screens */

@media  screen and (max-width: 490px) {
    .gpt3__header h1 { 
        font-size: 30px;
        font-weight: 500;
        line-height: 40px;
    }

    .gpt3__header p { 
        font-size: 12px;
        line-height: 20px;
    }

    .gpt3__header--content-users img { 
        margin-bottom: 10px;
    }

    .gpt3__header--content-users p {
        margin: 0;
        font-size: 12px;
    }

    .gpt3__header--content-input input,
    .gpt3__header--content-input button { 
        font-size: 12px;
        line-height: 12px;
    } 
}

@media screen and (max-width: 375px) {
    .gpt3__header--content-input input,
    .gpt3__header--content-input button { 
        font-size: 8px;
        line-height: 8px;
    } 

    .gpt3__header--content-input { 
        width: 100%;
    }
}
